*{
    .header {
        background-color: rgba(208, 99, 118, 0.679);
        height: 6%;
    }
    .container{
        width: 80%;
        padding-left: 10%;
    }
    .nav ul{
        list-style: none;
    }
    .nav ul li{
        display: inline-block;
        margin-right: 5px;
        color: beige;
        font-size: 16px;
        padding: 5px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .contain1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -5px;
        height: 350px;
        background-image: linear-gradient(to top,rgb(245, 245, 208),rgba(208, 99, 118, 0.679));
    }
    .contain1 .line{
        margin-top: -10px;
        width: 150px;
        height: 2px;
        background-color: black;
    }
    .contain1 img{
        margin-top: 20px;
        border-radius: 100%;
        height: 165px;
        width: 165px;
    }
    .contain1 h6{
        margin-top: 20px;
    }
    .contain2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        background-color: rgb(245, 245, 208);
    }
    .contain2 .baris1 img{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .contain2 .baris2 img{
        margin-right: 20px;
    }
    .contain2 img{
        width: 180px;
        height: 120px;
    }
    .contain3 {
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: rgba(208, 99, 118, 0.679);
        height: 290px;
    }
    /* .contain3 .text{
        width: 90%;
        margin-left: 10%;
        justify-content: space-between;
        margin-right: 30px; */
    }
    .contain3 .line{
        margin-top: -10px;
        width: 150px;
        height: 2px;
        background-color: black;
    }
    .contain3 .teks{
        margin-right: 0;
        width: 30%;
    }
    .contain3 .teks1{
        gap: 30px;
        display: flex;
        justify-content:space-between;
    }
    .contain4{
        margin-top: -6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-image: linear-gradient(to top,rgb(245, 245, 208),rgba(208, 99, 118, 0.679));
    }
    .contain4 .line{
        margin-top: -10px;
        width: 150px;
        height: 2px;
        background-color: black;
    }
    .contain4 .container4{
        width: 65%;
        padding-left: 35%;
        border: none;
        margin-top: 20px;
    }
    .container4 textarea{
        display: flex;
        flex-direction: column;
        background-color: rgba(245, 245, 220, 0);
        outline: none;
        border: none;
        margin-top: 8px;
        margin-bottom: 18px;
        border-bottom: 0.5px solid black;
        resize: none;
    }
    .container4 input{
        width: 550px;
        display: flex;
        flex-direction: column;
        background-color: rgba(208, 99, 117, 0);
        outline: none;
        border: none;
        margin-top: 6px;
        margin-bottom: 18px;
        border-bottom: 0.5px solid black;
    }
    .container4 button{
        border-radius: 10px;
        width: 70px;
        height: 30px;
        background-color: rgba(208, 99, 118, 0.679);
        border: none;
    }
    .footer{
        background-color: rgb(245, 245, 208);
    }
    .footer .container{
        width: 20%;
        margin-left: 30%;
    }
    .footer .text{
        display: flex;
        justify-content:space-between;
        text-align: center;
    }
    .foot{
        height: 6%;
        background-color: rgba(208, 99, 118, 0.679);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .humberger{
            display: none;
            flex-direction: column;
            margin-top: 4px;
            margin-bottom: 6px;
    }
    .humberger .line{
            width: 20px;
            height: 2px;
            background-color: antiquewhite;
            margin-top: 4px;
    }
    #nav-toggle{
            display: none;
    }

    @media screen and (max-width: 700px){
    .nav ul li {
        font-size: 12px;
    }
    .contain1 img{
        margin-top: 20px;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }
    .contain2 img{
        width: 100px;
        height: 60px;
    }
    .contain2{
            display: flex;
            flex-direction: column;
        }
    .contain3 .teks{
        display: flex;
        justify-content:space-between;
        width: 60%;
        text-align: justify;
    }
    .container4 input{
        width: 90%;
    }
    .contain4 .container4{
        width: 60%;
        margin-left: -30%;
    }
    .footer .container{
        width: 260px;
        margin-left: 20%;

    }
    .footer .text{
        font-size: 12px;
    }
}
    @media screen and (max-width: 600px){
        /* body{
            background-color: aqua;
        } */

        .nav ul li {
            display: none;
        }
        .contain2 img{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 140px;
            height: 100px;
            margin-bottom: 20%;
        }
        .contain2 {
            height: 100%;
        }
        .contain3 .teks{
            font-size: 16px;
        }
        .contain4 label{
            font-size: 16px;
        }
        .humberger{
            display: flex;
        }
        #nav-toggle:checked + label + .nav{
            display: flex;
            flex-direction: column;
            margin-left: -5px;
            li{
                display: flex;
                flex-direction: column;
                margin-left: -5;
            }
        }
        .footer .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            margin-right: 0;
        }
        .contain3{
            height: 100%;
        }
        .contain3 .teks{
            margin-right: 0;
            width: 60%;
        }
        .contain3 .teks1{
            gap: 20%;
            display: flex;
            flex-direction: column;
        }
}
