*{
    html, body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header .container{
        background-color: white;
        display: flex;
        justify-content: space-between;
        /* margin-right: 5%; */
        /* margin-left: 5%; */
    }
    .humb{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 6px;
    }
    .humb .line{
        width: 50px;
        height: 6px;
        background-color: rgb(15, 15, 15);
        margin-top: 4px;
    }
    .container .tut{
        display: flex;
    }
    .tut{
        gap: 50px;
    }
    .tut h1{
        margin-top: 11%;
        font-size: 40px;
    }
    .tutu{
        margin-top: 13%;
        font-size: 35px;
        /* margin-right: 50px; */
    }
    .container1{
        margin-left: 15%;
        /* margin-top: 3%; */
        display: flex;
    }
    .container1 .menu{
        width: 15%;
        height: 100%;
        border-radius: 20px;
        border: 2px solid rgba(196, 186, 186, 0.466);
        margin-top: 1%;
        padding-bottom: 1%;
    }
    .isi-yow1{
        margin-left: 5%;
    }
    .um input{
        width: 80%;
        height: 60px;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 10px;
        font-size: 22px;
        border-color: rgba(158, 156, 156, 0.274);
    }
    .container1 .produk{
        margin-left: 30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 26px;
    }
    .container1 .produk img{
        /* align-items: center; */
        width: 700px;
        height: 700px;
    }
    .container1 .isi{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .container1 .hm{
        border-top: 1px solid rgba(160, 158, 158, 0.411);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hm h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        margin-top: 25px;
        margin-right: 40px;
        font-size: 24px;
    }
    .container1 .yow{
        border-top: 1px solid rgba(160, 158, 158, 0.322);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .yow h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 40px;
        font-size: 24px;
    }
    .isi-yow{
        display: flex;
        /* gap: 20px; */
    }
    .isi-yow1{
        display: flex;
    }
    .isi-yow1 input{
        width: 50px;
        height: 50px;
        margin-left: 12%;
    }
    .isi-yow .yt{
        margin-bottom: 10%;
    }
    .menu .garis{
        border-bottom: 10px solid black;
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .min{
        border: 1px solid rgba(160, 158, 158, 0.37);
        border-radius: 20px;
        width: 80%;
        margin-left: 10%;
        height: 8%;
    }
    .min-isi{
        display: flex;
    }
    .min .p-isi{
        font-size: 32px;
        margin-top: 6%;
        margin-left: 5%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .min .p1{
        font-size: 24px;
        color: rgb(99, 97, 97);
        margin-left: 20px;
        margin-top: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .min .p2{
        margin-top: -20px;
        margin-left: 20px;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .apl{
        border: 1px solid black;
        border-radius: 20px;
        background-color: black;
        margin-left: 30%;
        margin-top: 7%;
    }
    .apl h2{
        color: white;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .foot-isi{
        padding-bottom: 3%;
        background-color: black;
        /* height: 500px; */
        display: grid;
        justify-content: center;
        margin-top: 50px;
    }
    .foot-isi .text{
        margin-top: 10%;
        font-size: 32px;
        margin-bottom: 5%;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    .bayar img{
        /* width: 120px; */
        /* align-items: center; */
        height: 120px;
        margin-top: 5px;
    }
    .kirim img{
        gap: 30px;
        /* margin-left: 10%; */
        height: 120px;
        margin-top: 5px;
    }
    .foot-isi .ig{
        display: grid;
        justify-content: center;
        padding-top: 50%;
    }
    .ig .igh{
        color: aliceblue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
        font-weight: bold;
    }
    .ig .igj{
        color: aliceblue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 15%;
        font-size: 30px;
    }
    .urut{
        display: flex;
        justify-content: center;
        border: 1px solid rgb(199, 192, 192);
        width: 13%;
        height: 2%;
        border-radius: 5px;
    }
    .produku{
        display: flex;
        justify-content: space-between;
    }
}